<ul th:fragment="menu" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar"
    xmlns:th="http://www.thymeleaf.org">

  <a class="sidebar-brand d-flex align-items-center" th:href="@{/home}">
    <div class="sidebar-brand-icon">
      <img th:src="@{/img/logo.png}" class="img-fluid">
    </div>
  </a>

  <li th:classappend="${path == '/home' ? 'active' : ''}" class="nav-item">
    <a class="nav-link" th:href="@{/home}">
      <i class="mdi mdi-home-variant-outline"></i >
      <span>Home</span></a>
  </li>

  <li th:classappend="${path == '/explore' ? 'active' : ''}" class="nav-item">
    <a class="nav-link" th:href="@{/explore}">
      <i class="mdi mdi-grid-large"></i>
      <span>Explore</span></a>
  </li>

  <li th:classappend="${path == '/favourite' ? 'active' : ''}" class="nav-item">
    <a class="nav-link" th:href="@{/favourite}">
      <i class="mdi mdi-bookmark-outline"></i>
      <span>Favourities</span></a>
  </li>

  <li th:classappend="${path == '/order' ? 'active' : ''}" class="nav-item">
    <a class="nav-link" th:href="@{/order}">
      <i class="mdi mdi-book-open"></i>
      <span>Orders</span></a>
  </li>

  <li th:classappend="${path == '/messages' ? 'active' : ''}" class="nav-item">
    <a class="nav-link d-flex" href="messages.html">
      <i class="mdi mdi-message-text-outline mr-2"></i>
      <span>Messages</span>
      <span class="rounded-circle bg-white text-primary ml-auto px-2 py-1">2</span></a>
  </li>

  <li th:classappend="${path == '/setting' ? 'active' : ''}" class="nav-item">
    <a class="nav-link" th:href="@{/setting}">
      <i class="mdi mdi-cog"></i>
      <span>Settings</span></a>
  </li>

  <div class="bg-white m-3 p-3 sidebar-alert rounded text-center alert fade show d-none d-md-inline" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <i class="mdi mdi-food mb-3"></i>
    <p class="text-black mb-1">Free delivery on<br>all orders over <span class="text-primary">$25</span></p>
    <p class="small">It is a limited time offer that will expire soon.</p>
    <a href="explore.html" class="btn btn-primary btn-block btn-sm">Order now <i class="pl-3 fas fa-long-arrow-alt-right"></i></a>
  </div>

  <div th:switch="${signin}" class="d-none d-md-block">
    <div th:case="true" style="cursor: pointer" class="user d-flex align-items-center p-3" >
      <div class="pr-3"><i class="mdi mdi-account-circle-outline text-white h3 mb-0"></i></div>
      <div >
        <p class="mb-0 text-white" th:text="${client.getFullname()}"></p>
        <p class="mb-0 text-white-50 small dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${client.getEmail()}"><a href="https://askbootstrap.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="1a7f627b776a767f5a7d777b737634797577"></a></p>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" th:href="@{/logout}">Logout</a>
        </div>
      </div>
    </div>
    <div th:case="false" style="cursor: pointer" class="user d-flex align-items-center p-3" >
      <div class="pr-3"><i class="mdi mdi-account-circle-outline text-white h3 mb-0"></i></div>
      <div>
        <div >
          <a class="mb-0 text-white dropdown-toggle"  href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Chưa đăng nhập</a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" th:href="@{/signup}">Đăng kí</a>
            <a class="dropdown-item" th:href="@{/signin}">Đăng nhập</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <hr class="sidebar-divider d-none d-md-block">

  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>