<ul th:fragment="menu" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <a class="sidebar-brand d-flex align-items-center" href="index.html">
    <div class="sidebar-brand-icon">
      <img src="img/logo.png" class="img-fluid">
    </div>
  </a>

  <li class="nav-item active">
    <a class="nav-link" href="index.html">
      <i class="mdi mdi-home-variant-outline"></i>
      <span>Home</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="explore.html">
      <i class="mdi mdi-grid-large"></i>
      <span>Explore</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="favourities.html">
      <i class="mdi mdi-bookmark-outline"></i>
      <span>Favourities</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="orders.html">
      <i class="mdi mdi-book-open"></i>
      <span>Orders</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link d-flex" href="messages.html">
      <i class="mdi mdi-message-text-outline mr-2"></i>
      <span>Messages</span>
      <span class="rounded-circle bg-white text-primary ml-auto px-2 py-1">2</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="settings.html">
      <i class="mdi mdi-cog"></i>
      <span>Settings</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
      <i class="fas fa-fw fa-cog"></i>
      <span>Extra Pages</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Pages:</h6>
        <a class="collapse-item" href="detail.html">Details</a>
        <a class="collapse-item" href="listing.html">Listing</a>
        <a class="collapse-item" href="messages.html">Messages</a>
        <a class="collapse-item" href="search.html">Search</a>
        <a class="collapse-item" href="buttons.html">Components</a>
        <a class="collapse-item" href="404.html">Page Not Found</a>
        <h6 class="collapse-header">Account:</h6>
        <a class="collapse-item" href="signin.html">Signin</a>
        <a class="collapse-item" href="signup.html">Signup</a>
        <a class="collapse-item" href="forgot.html">Forgot Password</a>
      </div>
    </div>
  </li>

  <div class="bg-white m-3 p-3 sidebar-alert rounded text-center alert fade show d-none d-md-inline" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <i class="mdi mdi-food mb-3"></i>
    <p class="text-black mb-1">Free delivery on<br>all orders over <span class="text-primary">$25</span></p>
    <p class="small">It is a limited time offer that will expire soon.</p>
    <a href="explore.html" class="btn btn-primary btn-block btn-sm">Order now <i class="pl-3 fas fa-long-arrow-alt-right"></i></a>
  </div>

  <div th:switch="${signin}" class="d-none d-md-block">
    <div th:case="true" style="cursor: pointer" class="user d-flex align-items-center p-3" >
      <div class="pr-3"><i class="mdi mdi-account-circle-outline text-white h3 mb-0"></i></div>
      <div >
        <p class="mb-0 text-white" th:text="${client.getFullname()}"></p>
        <p class="mb-0 text-white-50 small dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${client.getEmail()}"><a href="https://askbootstrap.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="1a7f627b776a767f5a7d777b737634797577"></a></p>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" th:href="@{/logout}">Logout</a>
        </div>
      </div>
    </div>
    <div th:case="false" style="cursor: pointer" class="user d-flex align-items-center p-3" >
      <div class="pr-3"><i class="mdi mdi-account-circle-outline text-white h3 mb-0"></i></div>
      <div>
        <div >
          <a class="mb-0 text-white dropdown-toggle"  href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Chưa đăng nhập</a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" th:href="@{/signup}">Đăng kí</a>
            <a class="dropdown-item" th:href="@{/signin}">Đăng nhập</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <hr class="sidebar-divider d-none d-md-block">

  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>