<!--Modal add food-->

<div th:fragment="modal-favor" class="modal fade" id="myitemsModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog border-bottom">
        <div class="modal-content osahan-item-detail-pop">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="exampleModalLabel">Rice choice</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="mb-2" id="formFoodAdd">
            <div class="modal-body px-3 py-0">
                <div class="pb-3 position-relative">
                    <div class="position-absolute heart-fav">
                        <a id="favor" isactive="true" href="#"><i class="mdi mdi-heart"></i></a>
                    </div>
                    <img id="foodImg" src="/img/food3.jpg" class="img-fluid col-md-12 p-0 rounded">
                </div>
                <h4 id="foodName" class="mb-2">Char-Broiled Chicken Shish</h4>
                <p>Served with basmati rice or bulgur pilaf, skewered with grilled vegetables</p>
                <div class="d-flex align-items-center mb-3">
                    <p class="text-danger mb-0">Rice choice</p>
                    <p class="bg-primary text-white rounded px-2 py-1 mb-0 small ml-auto">Required</p>
                </div>

                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                        <label class="food-add custom-control-label font-weight-bold text-dark" for="customCheck1"></label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                        <label class="food-add custom-control-label font-weight-bold text-dark" for="customCheck2"></label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck3">
                        <label class="food-add custom-control-label font-weight-bold text-dark" for="customCheck3"></label>
                    </div>

                <input type="hidden" name="" id="totalPrice" value="">
                <p class="mb-0"><a href="#" class="text-decoration-none text-primary"><i class="fas fa-plus mr-2 bg-light rounded p-2"></i> Add special instructions</a></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="foodPrice"  data-toggle="modal" data-target="#cartModal" class="btn btn-primary btn-block foodCart">Add ($15.00)</button>
            </div>
            </form>
        </div>
    </div>
</div>

<!--Modal Checkout-->

