<div th:fragment="modal-checkout" class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">My cart <span id="totalItem" class="small">(0 items)</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body osahan-my-cart">
                <a href="#" class="text-dark d-flex align-items-center mb-3" data-toggle="modal" data-target="#myaddressModal">
                    <div>
                        <p class="mb-0 text-danger">Delivered to</p>
                        <p class="mb-0 small">300 Post Street San Francico, CA</p>
                    </div>
                    <div class="ml-auto">
                        <p class="mb-0 text-info">Edit<i class="mdi h6 m-0 mdi-chevron-right"></i></p>
                    </div>
                </a>
                <div  class="details-page border-top pt-3 osahan-my-cart-item">
                    <h6 class="mb-3">Pizza Hut</h6>
                    <div id="body-cart-modal">

                    </div>
                    <div class="my-3"><a href="#" data-toggle="modal" data-target="#myitemsModal" class="text-primary"><i class="mdi mdi-plus mr-2"></i> Add more items</a></div>
                    <a href="#" class="d-flex align-items-center mb-3" data-toggle="modal" data-target="#mycoupansModal">
                        <div class="mr-3 bg-light rounded p-2 osahan-icon"><i class="mdi mdi-motorbike"></i></div>
                        <div>
                            <p class="mb-0 text-dark">Delivery</p>
                            <p class="mb-0 small text-black-50">$0</p>
                        </div>
                    </a>
                    <a href="#" class="d-flex align-items-center mb-3" data-toggle="modal" data-target="#mycoupansModal">
                        <div class="mr-3 bg-light rounded p-2 osahan-icon"><i class="mdi mdi-percent"></i></div>
                        <div>
                            <p class="mb-0 text-dark">Promo code</p>
                            <p class="mb-0 small text-black-50">HFXWO</p>
                        </div>
                        <div class="ml-auto"><button class="btn btn-primary"><i class="mdi mdi-plus"></i></button></div>
                    </a>
                </div>
            </div>
            <div class="modal-footer justify-content-start osahan-my-cart-footer">
                <div th:switch="${signin}" class="row w-100">
                    <div class="col-2 px-0"><button class="btn btn-warning btn-block" data-toggle="modal" data-target="#mysplitModal"><i class="mdi mdi-account-plus-outline"></i></button></div>
                    <div th:case="true" class="col-10 pr-0">
                        <a href="#"><button id="button-checkout" class="btn btn-primary btn-block" data-toggle="modal" data-target="#checkoutModal">Checkout ($0)</button></a>
                    </div>
                    <div th:case="false" class="col-10 pr-0">
                        <a th:href="@{/signin}"><button id="button-checkout" class="btn btn-primary btn-block" data-toggle="modal" data-target="#checkoutModal">Checkout ($0)</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Checkout confirm-->


<div th:fragment="modal-checkout-confirm" class="modal fade" id="checkoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Checkout</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-dark mb-2 small">Payment methods</p>
                <div class="btn-group btn-group-toggle mb-3" data-toggle="buttons">
                    <label class="btn osahan-radio btn-light btn-sm rounded active">
                        <input type="radio" name="options" id="option1" checked> <i class="mdi mdi-credit-card-outline"></i> Card
                    </label>
                    <label class="btn osahan-radio btn-light btn-sm rounded">
                        <input type="radio" name="options" value="COD" id="option2"> <i class="mdi mdi-currency-usd"></i> COD
                    </label>
                    <label class="btn osahan-radio btn-light btn-sm rounded">
                        <input type="radio" name="options" id="option3"> <i class="fab fa-paypal"></i> Paypal
                    </label>
                </div>
                <h6 class="mb-3">My cards <span class="small">(2)</span></h6>
                <div id="card-choose" class="btn-group btn-group-toggle osahan-card" data-toggle="buttons">
                    <label class="btn osahan-radio osahan-card-pay btn-light btn-sm rounded mb-2 active w-100">
                        <input type="radio" name="options" id="option1" checked>
                        <div class="d-flex align-items-center card-detials small mb-3">
                            <p class="small"><i class="mdi mdi-chip"></i></p>
                            <p class="ml-auto d-flex align-items-center">
                                <span class="card-no mr-2"><i class="mdi mdi-circle"></i> <i class="mdi mdi-circle"></i> <i class="mdi mdi-circle"></i> <i class="mdi mdi-circle"></i></span>
                                <span class="small">1211</span>
                            </p>
                        </div>
                        <h1 class="mb-0">Mastercard</h1>
                        <p class="small mb-1">Platinum</p>
                        <p class="text-right mb-0"><i class="fab fa-cc-mastercard text-warning"></i></p>
                    </label>
                    <label class="btn osahan-radio osahan-card-pay btn-light btn-sm rounded mb-2 w-100">
                        <input type="radio" name="options" id="option2">
                        <div class="d-flex align-items-center card-detials small mb-3">
                            <p class="small"><i class="mdi mdi-chip"></i></p>
                            <p class="ml-auto d-flex align-items-center">
                                <span class="card-no mr-2"><i class="mdi mdi-circle"></i> <i class="mdi mdi-circle"></i> <i class="mdi mdi-circle"></i> <i class="mdi mdi-circle"></i></span>
                                <span class="small">2277</span>
                            </p>
                        </div>
                        <h1 class="mb-0">Visa Debit</h1>
                        <p class="small mb-1">Plantinum</p>
                        <p class="text-right mb-0"><i class="fab fa-cc-visa"></i></p>
                    </label>
                </div>
                <a id='add-card' href="#" data-toggle="modal" data-target="#paymentsModal" class="btn btn-light btn-block"><i class="mdi mdi-plus"></i> Add</a>
            </div>
            <div class="modal-footer justify-content-start">
                <a href="#" id="confirm-checkout" class="btn btn-primary btn-block">Confirm payment ($53.00)</a>
            </div>
        </div>
    </div>
</div>